button {
    padding: 10px 30px;
    background: none;
    border: 2px solid black;
    font-family: "Inter", sans serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;

    &:hover {
        cursor: pointer;
        color: brown;
        border-color: brown;
        }
    }

