.footer {
    @include centerChild;
    display: flex;
    justify-content: space-between;
    align-items: flex-start ;
    margin-left: 50px;
    
}

.form {
    display: grid;
    width: 50%;

    .form-grid {
        display: grid;
        grid-template-areas: 
        "label1"
        "name"
        "label2" 
        "email"
        "texta"
        "ta";
    }

    label {
        display: block;
    }
    input {
        font-family: Monserrat, sans-serif;
        width: 90%;
        padding: 5px;
    }
    textarea {
        resize: none;
        width: 91.2%;
        height: 100px;
    }
}

