.footer {
    @include centerChild;
}

.form {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: 
    "input1" "input2"
    "texta""texta";
}
div {
    grid-area: input1;
}
.texta {
    grid-area: texta;
}

