.footer {
    @include centerChild;
}

.form {
    display: grid;
    grid-template-rows: repeat(6,1fr);
    grid-template-areas: 
    "i1"
    "ga";

    label {
        grid-area: i1;
    }
    #name {
        grid-area: ga;
    }


}

