.contact-content > div {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;

    .social-icon a {
        margin-right: 30px;
        text-decoration: none;
        color: black;
    }
    .social-icon i {
        border: 1px solid black;
        border-radius: 100%;
        padding: 10px;
    }
}
