.header {
  @include columnChild;
  padding: 250px 0;
}

  .header-title {
    @include centerChild;
    text-align: center;

    h1 {
      font-family: "Inter";
      color: $color1;
      text-transform: uppercase;
      letter-spacing: 5px;
      font-size: 4rem;
      font-weight: 700;
      max-width: 65%;
    }
  }

  .header-content {
    p {
      margin: 0;
      color:  $color1;
      font-style: italic;
  }
    a {
      @include centerChild;
      text-decoration: none;
      cursor: default;

      i {
        color: white;
        border: 1px solid white;
        border-radius: 100%;
        padding: 15px;

        &:hover {
          cursor: pointer;
          color: brown;
          border-color: brown;
        }
      }
    }
    .arrow {
      margin-top: 100px;
    }
}