.nav {
    @include spaceChild;
    background-color: rgba(255, 255, 255, 0.289)
}

.nav-list {
    ul {
        display: flex;
        padding: 0;
        list-style-type: none;
        font-family: Inter;
        color: white;
        text-transform: uppercase;
        font-size: 0.75rem;
        font-weight: 500;
    }
}