@media screen and (max-width: 1315px) {
  .main-content {
    h2 {
      font-size: 1rem;
    }
  }

  .second-content {
    display: block;
    .left-content {
      margin-bottom: 100px;
    }
    h3 {
      margin: 20px 0;
      font-size: 2rem;
    }
    p {
      max-width: 60%;
    }
  }
}

@media screen and (max-width: 1320px) {
  .main-content {
    h2 {
      font-size: 3rem;
    }
  }
}

@media screen and (max-width: 900px) {
  body {
    width: 90%;
  }
  .nav {
    @include centerChild;
  }
  .nav-social {
    display: none;
  }
  .main-content {
    h2 {
      font-size: 1rem;
      letter-spacing: 5px;
      width: 40%;
    }
  }
  .second-content {
    display: block;
    
    .left-content {
      margin-bottom: 100px;
    }
  }
  .contact {
    display: block;
  }
}
