.content {
    background: whitesmoke;
}

.main-content {
    @include columnChild;

    h4 {
        margin: 50px 0;
        font-size: 0.8rem;
        font-family: "Merriweather";
        font-weight: 100;
        color: rgb(75, 74, 74);
    }
    h1 {
        margin: 30px 0 20px 0;
        white-space: pre-line;
        font-family: Inter;
        font-size: 4rem;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    p { 
        margin-bottom: 30px;
        width: 45%;
        font-style: italic;
        line-height: 35px;
    }
    img {
        max-height: 90%;
        max-width: 90%;
        margin-bottom: 30px;
    }

}
 
.second-content {
    @include centerChild;

    .left-content, .right-content {
        @include columnChild;
    }
    .img-right {
        width: 80%;
    }
    .second-content, .right-content img, .left-content img {
        width: 80%;
    }
}
