.content {
    background: whitesmoke;
}

.main-content {
    @include columnChild;

    h4 {
        margin: 15px;
    }
    h2 {
        margin: 15px;
        width: 40%;
        font-family: Inter;
        font-size: 2rem;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    p { 
        margin-bottom: 30px;
        width: 75%;
        font-style: italic;
        line-height: 30px;
    }
    img {
        max-height: 90%;
        max-width: 90%;
        margin-bottom: 30px;
    }

}

.second-content {
    @include centerChild;

    .left-content, .right-content {
        @include columnChild;
    }

    h3 {
        font-family: "Inter";
        font-weight: 700;
        text-transform: uppercase;
        white-space: pre-line;
        letter-spacing: 3px;
    }
    img {
        max-width: 95%;
    }
}
