@font-face {
  font-family: "Inter";
  src: url(/assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}
@font-face {
  font-family: "Merriweather";
  src: url(/assets/fonts/Merriweather/Merriweather-Regular.ttf);
}
body {
  margin: 0 auto;
  padding: 0;
  min-height: 4000px;
  width: 80%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(/assets/img/bg.jpg) fixed;
  background-position: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.289);
  padding: 5px;
}

.nav-list {
  min-width: 45%;
}
.nav-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  padding: 0;
  list-style-type: none;
  font-family: Inter;
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
}
.nav-list li {
  color: white;
}
.nav-list li:hover {
  cursor: pointer;
  color: brown;
}

.nav-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 35%;
  gap: 60px;
}
.nav-social a {
  font-size: 20px;
  color: white;
}
.nav-social a:hover {
  color: brown;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 280px 0 160px 0;
}

.header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.header-title h1 {
  font-family: "Inter";
  color: rgb(220, 220, 220);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 4rem;
  font-weight: 700;
  max-width: 65%;
}

.header-content p {
  margin: 0;
  color: rgb(220, 220, 220);
  font-style: italic;
}
.header-content a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  cursor: default;
}
.header-content a i {
  color: white;
  border: 1px solid white;
  border-radius: 100%;
  padding: 15px;
}
.header-content a i:hover {
  cursor: pointer;
  color: brown;
  border-color: brown;
}
.header-content .arrow {
  margin-top: 100px;
}

.content {
  background: whitesmoke;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main-content h4 {
  margin: 50px 0;
  font-size: 0.8rem;
  font-family: "Merriweather";
  font-weight: 100;
  color: rgb(75, 74, 74);
}
.main-content h1 {
  margin: 30px 0 20px 0;
  white-space: pre-line;
  font-family: Inter;
  font-size: 4rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.main-content p {
  margin-bottom: 30px;
  width: 45%;
  font-style: italic;
  line-height: 35px;
}
.main-content img {
  max-height: 90%;
  max-width: 90%;
  margin-bottom: 30px;
}

.second-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 100px 0;
}
.second-content .left-content, .second-content .right-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.second-content h4 {
  margin: 10px 0;
  font-size: 0.8rem;
  font-family: "Merriweather";
  font-weight: 100;
  color: rgb(75, 74, 74);
}
.second-content h3 {
  font-family: "Inter";
  font-weight: 700;
  text-transform: uppercase;
  white-space: pre-line;
  letter-spacing: 3px;
}
.second-content img {
  max-width: 95%;
  margin: 0 auto;
}
.second-content p {
  margin: 30px 0;
  max-width: 80%;
  line-height: 30px;
  color: rgb(75, 74, 74);
}

.contact-content div {
  display: grid;
  grid-template-columns: 30% 70%;
}

button {
  margin: 25px 0;
  padding: 10px 30px;
  background: none;
  border: 2px solid black;
  font-family: "Inter", sans serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}
button:hover {
  cursor: pointer;
  color: brown;
  border-color: brown;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form {
  width: 50%;
  display: grid;
}

#name, #email, #message {
  padding: 10px;
  font-family: Inter;
}

#message {
  resize: none;
  height: 50px;
}

.contact {
  width: 50%;
}
.contact h4 {
  color: rgb(39, 38, 38);
}/*# sourceMappingURL=style.css.map */